{{ $item := .item | default . }}

<div class="media stream-item view-compact">
  <div class="media-body">

    <div class="section-subheading article-title mb-0 mt-0">
      <a href="{{ $item.RelPermalink }}">{{ $item.Title }}</a>
    </div>

    {{ with $item.Params.authors }}
    <div class="stream-meta article-metadata">
      {{ $authors := . }}
      {{ range $index, $author := $authors }}
        {{ if in $author "Q. Lin" }}
          <strong>{{ $author }}</strong>
        {{ else }}
          {{ $author }}
        {{ end }}
        {{ if lt $index (sub (len $authors) 1) }}, {{ end }}
      {{ end }}
    </div>
    {{ end }}

    {{ with $item.Params.publication_short }}
    <div class="article-style" style="font-style: italic;">
      {{ . }}
    </div>
    {{ else }}
      {{ with $item.Params.publication }}
      <div class="article-style" style="font-style: italic;">
        {{ . | markdownify }}
      </div>
      {{ end }}
    {{ end }}

  </div>
</div>
