<div style="color:red">LI_CITATION LOADED</div>
{{/* layouts/partials/li_citation.html */}}

<div class="media stream-item view-citation">
  <div class="media-body">

    <div class="section-subheading article-title mb-0 mt-0">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </div>

    {{ with .Params.authors }}
    <div class="stream-meta article-metadata">
      {{ delimit . ", " }}
    </div>
    {{ end }}

    {{ with .Params.publication_short }}
    <div class="article-style">
      {{ . }}
    </div>
    {{ else }}
      {{ with .Params.publication }}
      <div class="article-style">
        {{ . | markdownify }}
      </div>
      {{ end }}
    {{ end }}

  </div>
</div>
