{{ $item := .item | default . }}

<div class="media stream-item view-compact">
  <div class="media-body">

    <div class="section-subheading article-title mb-1 mt-0">
      <a href="{{ $item.RelPermalink }}">{{ $item.Title }}</a>
    </div>

    <!-- 日期 -->
    <div class="article-metadata" style="font-size:0.9rem;color:#888;">
      {{ $item.Date.Format "2006-01-02" }}
    </div>

    {{ with $item.Params.summary }}
    <div class="article-style">
      {{ . }}
    </div>
    {{ end }}

  </div>
</div>
